---
import Github from "@/assets/svgs/github.astro";
import Search01 from "@/assets/svgs/search-01.astro";
import MenuDropdown from "./menu-dropdown.astro";
import ThemeController from "../bases/theme-controller.astro";
import { siteConfig } from "@/lib/siteConfig";

const url = Astro.request ? new URL(Astro.request.url) : null;
const hostname = (url?.hostname || "").replace(/^www\./, "");

const site = siteConfig[url?.hostname || ""] ||
  siteConfig[hostname] || {
    title: "News",
    shortTitle: "News",
  };

const siteTitle = site.title;
---

<div
  class="navbar border-b border-primary-content/80 dark:border-primary-content/20"
>
  <div class="navbar-start lg:w-1/2">
    <MenuDropdown />
    <a class="text-xl px-2 text-nowrap lg:hidden" href="/">
      {siteTitle}
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <a class="text-xl px-2" href="/">
      {siteTitle}
    </a>
  </div>

  <div class="navbar-end">
    <ThemeController />
  </div>
</div>
